<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Logo -->
      <span class="brand-logo">
        <img src="../../public/images/logo.png">
      </span>
      <div class="mdl-layout-spacer"></div>
      <div>
        <div> {{ (af.auth | async)?.uid }} </div>
        <button (click)="anonLogin()">Login Anonymously</button>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <songs></songs>
  </main>
</div>